<h2>@list.name</h2>

<!-- show only if one user is associated with the list allow to invite another user to join list -->
<h3>Invite someone to the list!</h3>


<% @activities.each do |activity| %>
    <%="activity.name" %>
<% end %>



