<h2><%= @user.name %>'s Profile Page</h2>


<h3>Current Lists:</h3>

<h3><%= link_to "Start a New List", new_relationship_path, method: :post %></h3>
<!--<%#= form_for @new_list do |f| %>
    <%#= text_field_tag :name, params[:name] %>
    <%#= f.submit "Create New List", new_list_path %><%# end %>-->

