/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-size: 100%;
  font-color: #444;
  font-family: 'Cedarville Cursive', cursive;
  /*background-image: url(wood-table.jpg);*/
}

.paper {
  background-image: url(lined-paper-background-yellow.jpg);
  background-size: 100%;
  width: 60%;
  min-height: 2000px;
}

h1 {
  font-size: 150%;
  font-family: Futura, Helvetica;
}

h2 {
  font-size: 125%;
  font-family: Futura, Helvetica;
}

h3 {
  font-size: 100%;
  font-family: Futura, Helvetica;
}
.gray-back {
  opacity: .5;
  /*make inactive? */
}

/* LOG IN */
.reset-box-style {
  background-color: orangered;
  padding: 10%;
  margin: 10%;
}

/* LINKS */
a {
  color: orangered;
  text-decoration: none;
}

a:hover, a:focus {
  color: black;
}

/* BUTTONS */

.btn {
  width:15%;
  height:55%;
  border-radius: 10%;
  font-size: 80%;
  display:inline;
  background: linear-gradient(to right,#C72B0C,#BD2716);
  border: none;
  color: white;
}

.btn:hover, .btn:focus {
  background: linear-gradient(to right,#C7901C,orange);
  color: white;
  border: none;
}
/* TABLES */
thead {
  font-size: 80%;
}